spring:
  application:
    name: discord-lite

  datasource:
    url: jdbc:postgresql://localhost:5432/discord_lite
    username: postgres
    password: duongmanutd0105
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  logging:
    level:
      org.springframework.web.socket: DEBUG
      org.springframework.messaging: DEBUG
server:
  port: 8080
